# output files
*.csv
*.xlsx

# confidential file
config.py

# test file
test.py

# Package metadata
*.egg-info/

# Virtual environment directory
.venv/

# IDE configuration files
.idea/

# Compiled Python files
*.pyc
*.pyo

# Other redundant or temporary files
*.log
*.tmp

.DS_Store